{% extends 'base.html.twig' %}

{% block title %}Auto index{% endblock %}

{% block body %}
    <h1>Auto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Capacidad</th>
                <th>Modelo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set contador = 1 %}
        {% for auto in autos %}
            <tr>
                <td>{{ contador }}</td>
                <td>{{ auto.marca }}</td>
                <td>{{ auto.color }}</td>
                <td>{{ auto.capacidad }}</td>
                <td>{{ auto.modelo }}</td>
                <td>
                    <a href="{{ path('app_auto_show', {'id': auto.id}) }}">show</a>
                    <a href="{{ path('app_auto_edit', {'id': auto.id}) }}">edit</a>
                </td>
            </tr>
            {% set contador = contador + 1 %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auto_new') }}">Create new</a>
{% endblock %}
